.navbar-container {
    background-color: #843dff;
    color: white;
    min-height: 50px;
}

.logout-btn {
    border: 0;
    width: 80px;
    border-radius: 5px;
    font-weight: 500;
    color: #843dff
}

.logout-btn:hover {
    color: white;
    background-color: #8e60dd;
}