.footer-container {
    background-color: #9f75ff;
    height: 60px;
    color: white;
    border-top: 1px solid #843dff;
    border-bottom: 1px solid #843dff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container p {
    margin: 0;
}